<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- This file can be just dropped in the App_Config/Include directory, just update the type attribute for the processor to point to your custom pipeline processor -->
      <mvc.buildPageDefinition>
        <processor patch:after="*[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']" type="Sitecore.Mvc.AddCassetteReferences.Processor.AddCassetteReferences,Sitecore.Mvc.AddCassetteReferences" />
      </mvc.buildPageDefinition>
    </pipelines>
  </sitecore>
</configuration>